langchain
langchain-huggingface
langchain-community
langchainhub
langchain-groq
langchain-mistralai
chromadb
transformers
sentence-transformers
huggingface-hub
openai
torch
python-dotenv
pandas
numpy
logger
streamlit
python-docx
PyPDF2
pypdf
